*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background: #f0f2f5;
}

body{
    background-color: #1161d8;
    height: 100vh;
}

.div{
    padding-bottom: 132px;
    padding-top: 92px;
    min-width: 500px;
    display: block;
    background-color: #1161d8;
}

.div1{
    display: flex;
    margin: 0 40px;
    width: auto;
    border-radius: 6px;
    justify-content: center;
    background: #f0f2f5;
}

.div2{
    padding-right: 24px;
    /* flex: 1 0 0px; */
}
.div3{
    float: right;
    
}

input{
    border-radius: 6px;
    font-size: 17px;
    padding: 14px 16px;
    width: 300px;
    line-height: 16px;
    margin: 10px;
}

.btn1{
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 332px;
    font-weight: bold;
    font-family:Arial;
    color: #ffffff;
    /* margin-left: 12px;  */
}

.btn2{
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 15px 16px;

    background-color: #42b72a;
    text-decoration: none;
    font-weight: bold;
    font-family:Arial;
    color: #ffffff;
}


hr{
    margin: 20px;
    width: 90%;
}
/* 
.btn2{
    font-weight: bold;
    font-family:Arial;
    text-decoration: none;
    color: #ffffff;
    background-color: #42b72a;
} */













