body {
  background-color: #CFCFCF;
  margin-top      : 15px;
}

body .content {
  width           : fit-content;
  height          : fit-content;
  border          : 2px solid #b7b7b7;
  background-color: white;
  margin-left     : auto;
  margin-right    : auto;
  display         : flex;
  flex-direction  : column;

}

body .content .list-item {
  border-spacing: 0px;

}

body .content .list-item .header td {
  text-align      : center;
  padding         : 10px;
  height          : 30px;
  border          : 1px solid #dfdddd;
  background-color: #dfdddd;
  border-spacing  : 0px;
  border-bottom   : 3px solid #b19361;
}

body .content .list-item tbody .item td {
  padding: 20px;
  border : 1px solid #bababa;
}

body .content .list-item tbody .item td.delete {
  width : 150px;
  height: 120px;
}

body .content .list-item tbody .item td.delete img {
  width      : 30px;
  margin-left: 50px;
}

body .content .list-item tbody .item td.img {
  width: 150px;
}

body .content .list-item tbody .item td.img img {
  width: 150px;
}

body .content .list-item tbody .item td.name {
  font-size: 14px;
  width    : 300px;
  height   : 160px;
}

body .content .list-item tbody .item td.name .item-name {
  display: block;
}

body .content .list-item tbody .item td.pricerow {
  width    : 200px;
  font-size: 25px;
}

body .content .list-item .submit .price {
  width    : 200px;
  font-size: larger;
}

body .content .list-item .submit button {
  height: 50px;
}

.backtohome {
  position: fixed;
  width   : 200px;
  height  : 50px;
  top     : 20px;
  left    : 10px;
}

div.submit {
  position: fixed;
  width   : 300px;

  display         : block;
  z-index         : 100;
  top             : 100px;
  left            : 10px;
  border          : 1px solid black;
  background-color: white;
  height          : 300px;


}

div.submit form input {
  position: relative;
  top     : 80px;
  height  : 30px;
  left    : 10px;

}

div#updateTotalButton {
  background-color: #f0f0f0;
  border          : 1px solid black;
  width           : 100px;
  display         : flex;
  justify-content : center;
  position        : relative;
  height          : 29px;
  right           : -180px;
  top             : 50px;


}

.priceTotalSubmit {
  display       : flex;
  flex-direction: row;
  font-size     : 30px;
  position      : relative;
  top           : 69px;
}

.priceTotalSubmit label {
  margin-left : 10px;
  margin-right: 10px;
}

.timesubmit {
  display       : flex;
  flex-direction: row;
  font-size     : 20px;
  position      : relative;
  top           : 80px;
  left          : 20px;
}

.address {
  display       : flex;
  flex-direction: column;
  font-size     : 20px;
  position      : relative;
  width         : 200px;
  left          : 20px;
  top           : -16px;

}

.number {
  display        : flex;
  flex-direction : row;
  justify-content: flex-start;
  font-size      : 20px;
  position       : relative;
  top            : 130px;
  left           : 20px;
}

.count {
  display        : flex;
  flex-direction : row;
  justify-content: flex-start;
  font-size      : 20px;
  position       : relative;
  top            : 49px;
  left           : 20px;

}

.deleteAll {
  height          : 49px;
  width           : 90px;
  position        : fixed;
  left            : 220px;
  top             : 20px;
  background-color: #F0F0F0;
  display         : flex;
  justify-content : center;
  align-items     : center;
  border          : 1px solid black;
}